<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Czy niedziela handlowa?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'content-extra-margin':inPortraitMode}">
  <div *ngIf="!loading" class="main-wrapper">
    <div *ngIf="!connectionError" class="icon-wrap">
      <ion-icon name='cart' [ngClass]="nextSunday?.isOpen ? 'opened-icon' : 'closed-icon'"></ion-icon>
      <p class="next-sunday-text">{{nextSunday.date | date}}</p>
    </div>
    <div *ngIf="connectionError">
      <ion-icon name='alert' class="error-icon" (click)="refreshData($event)"></ion-icon>
      <p class="next-sunday-text">Connection failed. Tap icon to try again.</p>
    </div>
  </div>
  <ion-spinner *ngIf="loading" color="primary" name="circles"></ion-spinner>
</ion-content>