@import "../../theme/variables";
$openedColor: map-get($colors, secondary);
$closedColor: map-get($colors, danger);
$errorColor: map-get($colors, light);
page-home {
    text-align: center;
    .next-sunday-text {
        padding-top: 10px;
    }
    .content-extra-margin {
        margin-top: 30%;
    }
    .icon-wrap {
        ion-icon {
            font-size: 10em;
            padding: 20px 30px 20px 30px;
            border: 5px solid;
            border-radius: 50%;
        }
    }
    .opened-icon {
        color: $openedColor;
    }
    .closed-icon {
        color: $closedColor;
    }
    .error-icon {
        font-size: 10em;
        color: $errorColor;
    }
}