@import './../../theme/variables';
page-calendar {
    .calendar {
        padding: 4% 4% 0 4%;
        font-size: 1.35em;
    }
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
    }
    .col {
        text-align: center;
        padding: 5px;
    }
    .last-month,
    .next-month {
        color: #999999;
        font-size: 90%;
    }
    .currentDate,
    .otherDate {
        padding: 5px;
    }
    .currentDate {
        font-weight: bold;
        border: 3px solid map-get($colors, primary);
        border-radius: 3px;
    }
    .calendar-header {
        background-color: map-get($colors, primary);
        .calendar-month {
            padding: 3px 0 3px 0;
        }
    }
    .calendar-body {
        .grid {
            padding: 0;
        }
        .col:last-child {
            border-right: none;
        }
        .calendar-weekday,
        .calendar-date {
            margin: 0;
        }
        .calendar-weekday {
            font-weight: bold;
            border-bottom: solid 1px map-get($colors, primary);
        }
        .calendar-date {
            border-top: solid 1px map-get($colors, primary);
            border-bottom: solid 1px map-get($colors, primary);
        }
    }
}